@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.97 0 0);
  --foreground: oklch(0.205 0 0);
  --card: oklch(0.985 0 0);
  --card-foreground: oklch(0.205 0 0);
  --popover: oklch(0.985 0 0);
  --popover-foreground: oklch(0.205 0 0);
  --primary: oklch(0.828 0.111 230.318);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.556 0 0 / 0.075);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.922 0 0);
  --muted-foreground: oklch(0.205 0 0 / 0.7);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.808 0.114 19.571);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.708 0 0 / 0.3);
  --input: oklch(0.205 0 0 / 0.15);
  --ring: oklch(0.828 0.111 230.318);
  --chart-1: oklch(0.685 0.169 237.323);
  --chart-2: oklch(0.789 0.154 211.53);
  --chart-3: oklch(0.627 0.265 303.9);
  --chart-4: oklch(0.852 0.199 91.936);
  --chart-5: oklch(0.685 0.169 237.323);
  --sidebar: oklch(0.97 0 0);
  --sidebar-foreground: oklch(0.205 0 0);
  --sidebar-primary: oklch(0 0 0 / 0.85);
  --sidebar-primary-foreground: oklch(1 0 0 / 0.85);
  --sidebar-accent: oklch(0.556 0 0 / 0.1);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.205 0 0 / 0.125);
  --sidebar-ring: oklch(0.588 0.158 241.966);
  --radius: 0.625rem;
  --font-sans: system-ui, sans-serif;
  --primary-light: oklch(0.901 0.058 230.902);
  --primary-dark: oklch(0.828 0.111 230.318);
  --primary-ring: oklch(0.746 0.16 232.661);
}

.dark {
  --background: oklch(0.205 0 0);
  --foreground: oklch(0.97 0 0);
  --card: oklch(0.25 0 0);
  --card-foreground: oklch(0.97 0 0);
  --popover: oklch(0.25 0 0);
  --popover-foreground: oklch(0.97 0 0);
  --primary: oklch(0.828 0.111 230.318);
  --primary-foreground: oklch(0.97 0 0);
  --secondary: oklch(0.97 0 0 / 0.1);
  --secondary-foreground: oklch(0.97 0 0);
  --muted: oklch(0.35 0 0);
  --muted-foreground: oklch(0.97 0 0 / 0.7);
  --accent: oklch(0.3 0 0);
  --accent-foreground: oklch(0.97 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.97 0 0);
  --border: oklch(0.97 0 0 / 0.15);
  --input: oklch(0.97 0 0 / 0.15);
  --ring: oklch(0.828 0.111 230.318);
  --chart-1: oklch(0.685 0.169 237.323);
  --chart-2: oklch(0.789 0.154 211.53);
  --chart-3: oklch(0.627 0.265 303.9);
  --chart-4: oklch(0.852 0.199 91.936);
  --chart-5: oklch(0.685 0.169 237.323);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.97 0 0);
  --sidebar-primary: oklch(1 0 0 / 0.85);
  --sidebar-primary-foreground: oklch(0.205 0 0);
  --sidebar-accent: oklch(0.97 0 0 / 0.1);
  --sidebar-accent-foreground: oklch(0.97 0 0);
  --sidebar-border: oklch(0.97 0 0 / 0.125);
  --sidebar-ring: oklch(0.588 0.158 241.966);
  --radius: 0.625rem;
  --font-sans: system-ui, sans-serif;
  --primary-light: oklch(0.901 0.058 230.902);
  --primary-dark: oklch(0.828 0.111 230.318);
  --primary-ring: oklch(0.746 0.16 232.661);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
